[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "web-nfc/packages/foundry/lib/account-abstraction"]
	path = web-nfc/packages/foundry/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
