# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# useless ./contract files

# contracts/cache
contracts/lib
# contracts/out
contracts/script
contracts/test
contracts/foundry.toml
contracts/README.md 
